@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype"); }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh; }

.body-wrapper {
  background-color: hsl(0,0%,8%);
  background-image: url(/assets/images/pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 84vw 67.5vw;
  display: grid;
  grid-template-columns: [full-start] minmax(1.6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.25rem) [col-end]) [center-end] minmax(1.6rem, 1fr) [full-end];
  position: relative;
  overflow-x: hidden; }
  @media only screen and (min-width: 42em) {
    .body-wrapper {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.25rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }
  @media only screen and (min-width: 42em) {
    .body-wrapper {
      background-image: none; } }

.main {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: min-content;
  row-gap: 8rem;
  padding-bottom: 8rem; }
  @media only screen and (min-width: 63.5em) {
    .main {
      row-gap: 9.032rem;
      padding-bottom: 13.9rem; } }
  @media only screen and (min-width: 79.5em) {
    .main {
      row-gap: 9.244rem; } }
  @media only screen and (min-width: 89.5em) {
    .main {
      row-gap: 10.4rem; } }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

.flex {
  display: flex; }

.column {
  flex-direction: column;
  width: fit-content; }
  @media only screen and (min-width: 23em) {
    .column {
      flex-direction: row; } }

.sm-y-padding {
  padding-bottom: 0.1rem !important; }

.invisible {
  opacity: 0;
  visibility: hidden; }

.d-none {
  display: none; }

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

body {
  color: hsl(0,0%,85%);
  font-family: "SpaceGrotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem; }
  @media only screen and (min-width: 42em) {
    body {
      font-size: 1.8rem;
      line-height: 2.8rem; } }

.heading-primary,
.heading-secondary,
.heading-tertiary,
.projects-title,
.form__heading {
  color: hsl(0,0%,100%);
  font-weight: 700; }

.heading-primary,
.projects-title,
.form__heading {
  font-size: 4rem;
  letter-spacing: -0.114rem;
  line-height: 1;
  margin-bottom: 2.4rem; }
  @media only screen and (min-width: 42em) {
    .heading-primary,
    .projects-title,
    .form__heading {
      font-size: 7.2rem;
      letter-spacing: -0.205rem;
      margin-bottom: 7.7rem;
      line-height: 1.08; } }
  @media only screen and (min-width: 63.5em) {
    .heading-primary,
    .projects-title,
    .form__heading {
      font-size: 7.64rem;
      letter-spacing: -0.25rem;
      margin-bottom: 3.73rem;
      line-height: 1; } }
  @media only screen and (min-width: 79.5em) {
    .heading-primary,
    .projects-title,
    .form__heading {
      font-size: 7.822rem; } }
  @media only screen and (min-width: 89.5em) {
    .heading-primary,
    .projects-title,
    .form__heading {
      font-size: 8.8rem;
      margin-bottom: 4.2rem; } }

.projects-title {
  margin-bottom: 0; }

.form__heading {
  margin-bottom: 2rem; }

@media only screen and (min-width: 42em) {
  .projects-title,
  .form__heading {
    line-height: 1; } }

.heading-secondary {
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
  line-height: 4rem; }
  @media only screen and (min-width: 42em) {
    .heading-secondary {
      font-size: 4.8rem;
      line-height: 5.6rem; } }

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase; }

.underline, .underline:link, .underline:active {
  border-bottom: 4px solid hsl(153,71%,59%);
  color: currentColor;
  text-decoration: none; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.229rem;
  line-height: 2.6rem;
  padding-bottom: 1rem;
  /* only for the .btn itself */
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* Put transition on the original "state" */
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out; }

.btn--green:link, .btn--green:visited {
  color: hsl(0,0%,100%);
  border-bottom: 2px solid hsl(153,71%,59%); }

.btn--green:hover, .btn--green:active {
  color: hsl(153,71%,59%); }

.btn--form {
  color: hsl(0,0%,100%);
  border-bottom: 2px solid hsl(153,71%,59%);
  background-color: transparent; }

.btn--form:hover, .btn--form:active {
  color: hsl(153,71%,59%); }

.header {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  height: 9.2rem;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }
  @media only screen and (min-width: 42em) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 6.1rem;
      align-items: end; } }
  @media only screen and (min-width: 79.5em) {
    .header {
      height: auto;
      align-items: center;
      padding-top: 3.466rem; } }
  @media only screen and (min-width: 89.5em) {
    .header {
      padding-top: 3.9rem; } }
  .header__logo {
    color: hsl(0,0%,100%);
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 3.2rem;
    letter-spacing: -0.033rem; }
    @media only screen and (min-width: 42em) {
      .header__logo {
        font-size: 3.2rem;
        letter-spacing: -0.044rem; } }
  .header__social-box {
    display: flex;
    align-items: center;
    gap: 2.467rem; }
    @media only screen and (min-width: 63.5em) {
      .header__social-box {
        margin-right: 3rem; } }
  .header__social-link {
    text-decoration: none;
    display: flex;
    align-items: center; }
  .header__social-svg {
    width: 2rem;
    height: 2rem; }
    @media only screen and (min-width: 42em) {
      .header__social-svg {
        width: 2.4rem;
        height: 2.4rem; } }
    @media only screen and (min-width: 63.5em) {
      .header__social-svg {
        width: 2.5rem;
        height: 2.5rem; } }
  .header__social-logo {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out; }
  .header__social-link:hover .header__social-svg .header__social-logo,
  .header__social-link:active .header__social-svg .header__social-logo {
    fill: hsl(153,71%,59%); }

.section-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  position: relative; }
  .section-hero::before {
    content: url(../assets/images/pattern-rings.svg);
    position: absolute;
    top: 12.4rem;
    right: 50vw;
    z-index: 0; }
    @media only screen and (min-width: 50.5em) {
      .section-hero::before {
        top: 7.5rem;
        right: 64vw; } }
    @media only screen and (min-width: 63.5em) {
      .section-hero::before {
        top: 7rem;
        right: 72vw; } }
    @media only screen and (min-width: 79.5em) {
      .section-hero::before {
        top: 10.5rem;
        left: -29rem; } }
    @media only screen and (min-width: 89.5em) {
      .section-hero::before {
        top: 12.9rem;
        left: -26rem; } }
  @media only screen and (min-width: 42em) {
    .section-hero {
      grid-template-columns: 8.47fr 5fr;
      gap: 0;
      padding-top: 14.1rem;
      text-align: left; } }
  @media only screen and (min-width: 50.5em) {
    .section-hero {
      grid-template-columns: 8fr 5fr; } }
  @media only screen and (min-width: 57em) {
    .section-hero {
      grid-template-columns: 9fr 4fr; } }
  @media only screen and (min-width: 63.5em) {
    .section-hero {
      grid-template-columns: 7fr 4fr;
      padding-bottom: 11.4rem; } }
  @media only screen and (min-width: 79.5em) {
    .section-hero {
      padding-top: 17.6rem;
      padding-bottom: 10.222rem; } }
  @media only screen and (min-width: 89.5em) {
    .section-hero {
      padding-top: 19.8rem;
      padding-bottom: 11.5rem; } }

.hero__pic {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 42em) {
    .hero__pic::before {
      content: url(../assets/images/pattern-circle.svg);
      position: absolute;
      bottom: 0;
      left: 88vw;
      z-index: 1;
      height: 12.9rem; } }
  @media only screen and (min-width: 63.5em) {
    .hero__pic::before {
      bottom: 7rem;
      left: 50vw; } }
  @media only screen and (min-width: 79.5em) {
    .hero__pic::before {
      bottom: 6.22rem;
      left: 64rem; } }
  @media only screen and (min-width: 89.5em) {
    .hero__pic::before {
      bottom: 7rem;
      left: 59.7rem; } }

.hero__img {
  width: 63.73%;
  z-index: 1;
  position: relative; }
  @media only screen and (min-width: 23em) {
    .hero__img {
      width: 50.73%; } }
  @media only screen and (min-width: 42em) {
    .hero__img {
      width: 45.45%;
      position: absolute;
      top: 0;
      right: -3.1rem;
      z-index: 0; } }
  @media only screen and (min-width: 48.5em) {
    .hero__img {
      width: 45%;
      right: -3rem; } }
  @media only screen and (min-width: 50.5em) {
    .hero__img {
      width: 43%; } }
  @media only screen and (min-width: 51em) {
    .hero__img {
      width: 42.4%; } }
  @media only screen and (min-width: 52em) {
    .hero__img {
      width: 41.7%; } }
  @media only screen and (min-width: 57em) {
    .hero__img {
      width: 37.9%; } }
  @media only screen and (min-width: 63.5em) {
    .hero__img {
      right: 0;
      width: 40.091%; } }
  @media only screen and (min-width: 79.5em) {
    .hero__img {
      width: 36.4%; } }
  @media only screen and (min-width: 89.5em) {
    .hero__img {
      width: auto;
      max-width: 40.09%; } }

@media only screen and (min-width: 42em) {
  .hero__text-box {
    grid-column: 1 / 2;
    grid-row: 1;
    position: relative;
    z-index: 1; } }

.hero__text {
  margin-bottom: 2.4rem; }
  @media only screen and (min-width: 50.5em) {
    .hero__text {
      padding-right: 3rem; } }
  @media only screen and (min-width: 57em) {
    .hero__text {
      padding-right: 14rem; } }
  @media only screen and (min-width: 63.5em) {
    .hero__text {
      margin-bottom: 5.732rem;
      padding-right: 16rem; } }
  @media only screen and (min-width: 79.5em) {
    .hero__text {
      margin-bottom: 5.866rem;
      padding-right: 26rem; } }
  @media only screen and (min-width: 89.5em) {
    .hero__text {
      margin-bottom: 6.5rem; } }

.section-experience {
  padding: 4rem 0;
  border-top: 1px solid hsl(0,0%,100%);
  border-bottom: 1px solid hsl(0,0%,100%);
  display: grid;
  row-gap: 2.4rem;
  position: relative; }
  @media only screen and (min-width: 42em) {
    .section-experience {
      grid-template-columns: 1fr 1fr;
      text-align: left;
      column-gap: 1.8rem;
      row-gap: 5.2rem;
      padding: 5.2rem 0 0;
      margin-bottom: 2rem;
      border-bottom: none; } }
  @media only screen and (min-width: 63.5em) {
    .section-experience {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
      row-gap: 5.8rem;
      padding: 7.3rem 0 0; } }
  @media only screen and (min-width: 79.5em) {
    .section-experience {
      column-gap: 3.75rem;
      margin-bottom: 3.2rem; } }
  @media only screen and (min-width: 89.5em) {
    .section-experience {
      margin-bottom: 3.6rem; } }
  .section-experience::before {
    position: absolute;
    content: url(../assets/images/pattern-rings.svg);
    bottom: 0;
    left: 50vw;
    transform: translateY(50%); }
    @media only screen and (min-width: 42em) {
      .section-experience::before {
        left: 72vw; } }
    @media only screen and (min-width: 63.5em) {
      .section-experience::before {
        left: 83vw; } }
    @media only screen and (min-width: 79.5em) {
      .section-experience::before {
        left: 97.9rem;
        bottom: 1rem; } }

@media only screen and (min-width: 63.5em) {
  .experience__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.21rem; } }

@media only screen and (min-width: 79.5em) {
  .experience__text-box {
    gap: 1.4rem; } }

.section-projects {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6rem; }
  @media only screen and (min-width: 23em) {
    .section-projects {
      row-gap: 4rem; } }
  @media only screen and (min-width: 63.5em) {
    .section-projects {
      row-gap: 6.918rem; } }
  @media only screen and (min-width: 79.5em) {
    .section-projects {
      row-gap: 7.111rem; } }
  @media only screen and (min-width: 89.5em) {
    .section-projects {
      row-gap: 8rem; } }

.projects__title-box {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (min-width: 23em) {
    .projects__title-box {
      flex-direction: row; } }

.projects__boxes {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6rem; }
  @media only screen and (min-width: 23em) {
    .projects__boxes {
      row-gap: 4rem; } }
  @media only screen and (min-width: 42em) {
    .projects__boxes {
      grid-template-columns: 1fr 1fr;
      column-gap: 2.4rem;
      row-gap: 6rem; } }
  @media only screen and (min-width: 79.5em) {
    .projects__boxes {
      column-gap: 2.666rem;
      row-gap: 6.133rem; } }
  @media only screen and (min-width: 89.5em) {
    .projects__boxes {
      column-gap: 3rem;
      row-gap: 6.9rem; } }

.projects__box {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem; }
  @media only screen and (min-width: 79.5em) {
    .projects__box {
      display: flex;
      flex-direction: column; } }

@media only screen and (min-width: 79.5em) {
  .projects__pic-box {
    position: relative; }
    .projects__pic-box:hover .projects__overlay {
      opacity: 1;
      visibility: visible; } }

.projects__overlay {
  display: none; }
  @media only screen and (min-width: 79.5em) {
    .projects__overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.8rem;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: hsla(0,0%,0%, .75);
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out; } }

.projects__img {
  display: block;
  width: 100%; }

.projects__project-title {
  display: grid;
  gap: 0.7rem; }

.projects__languages {
  gap: 1.8rem;
  list-style: none; }

.projects__language {
  font-size: 1.8rem;
  line-height: 1.56;
  text-transform: uppercase; }

.projects__links {
  gap: 3rem; }
  @media only screen and (min-width: 79.5em) {
    .projects__links {
      display: none; } }

.footer {
  grid-column: full-start / full-end;
  background-color: hsl(0,0%,14%);
  padding: 6rem 0;
  display: grid;
  grid-template-columns: [full-start] minmax(1.6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.25rem) [col-end]) [center-end] minmax(1.6rem, 1fr) [full-end];
  row-gap: 8.7rem;
  position: relative; }
  @media only screen and (min-width: 42em) {
    .footer {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.25rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }
  @media only screen and (min-width: 63.5em) {
    .footer {
      padding: 8.4rem 0;
      row-gap: 9.2rem; } }
  .footer::before {
    position: absolute;
    content: url(../assets/images/pattern-rings.svg);
    bottom: 25.5rem;
    right: 50vw;
    z-index: 0; }
    @media only screen and (min-width: 42em) {
      .footer::before {
        bottom: 15.7rem;
        right: 77.5vw; } }
    @media only screen and (min-width: 63.5em) {
      .footer::before {
        bottom: 21.9rem;
        right: 81.5vw; } }
    @media only screen and (min-width: 79.5em) {
      .footer::before {
        bottom: 19.9rem;
        right: 80.7vw; } }
    @media only screen and (min-width: 89.5em) {
      .footer::before {
        right: 77.43vw; } }
    @media only screen and (min-width: 104.5em) {
      .footer::before {
        right: 73.5vw; } }
    @media only screen and (min-width: 119em) {
      .footer::before {
        right: 70vw; } }
    @media only screen and (min-width: 160em) {
      .footer::before {
        right: 65.25vw; } }
  .footer__logo-box {
    grid-column: center-start / center-end;
    border-top: 1px solid hsl(0,0%,100%);
    padding-top: 3.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 2rem; }
    @media only screen and (min-width: 42em) {
      .footer__logo-box {
        flex-direction: row;
        justify-content: space-between; } }
  .footer__logo:link, .footer__logo:visited {
    color: hsl(0,0%,100%);
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 3.2rem;
    letter-spacing: -0.033rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out; }
    @media only screen and (min-width: 42em) {
      .footer__logo:link, .footer__logo:visited {
        font-size: 3.2rem;
        letter-spacing: -0.044rem; } }
  .footer__logo:hover, .footer__logo:active {
    color: hsl(153,71%,59%); }
  .footer__social-box {
    display: flex;
    align-items: center;
    gap: 2.467rem; }
  .footer__social-link {
    text-decoration: none;
    display: flex;
    align-items: center; }
  .footer__social-svg {
    width: 2rem;
    height: 2rem; }
    @media only screen and (min-width: 42em) {
      .footer__social-svg {
        width: 2.4rem;
        height: 2.4rem; } }
  .footer__social-logo {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out; }
  .footer__social-link:hover .footer__social-svg .footer__social-logo,
  .footer__social-link:active .footer__social-svg .footer__social-logo {
    fill: hsl(153,71%,59%); }

.form {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  overflow-x: hidden; }
  @media only screen and (min-width: 42em) {
    .form {
      width: 60.49%;
      transform: translateX(33%); } }
  @media only screen and (min-width: 63.5em) {
    .form {
      grid-template-columns: 1fr 1fr;
      width: 100%;
      transform: translateX(0);
      gap: 11rem; } }
  @media only screen and (min-width: 79.5em) {
    .form {
      gap: 22rem; } }
  @media only screen and (min-width: 63.5em) {
    .form__heading-box {
      text-align: left; } }
  .form__group {
    position: relative; }
  .form__group.success .form__input {
    border-bottom: 1px solid hsl(153,71%,59%); }
  .form__group.error .form__input {
    border-bottom: 1px solid hsl(7,100%,68%); }
  .form__group.error .form__small {
    opacity: 1;
    visibility: visible; }
  .form__input {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(0,0%,100%);
    padding: 0.7rem 1.6rem 1.4rem 2.4rem;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid hsl(0,0%,100%);
    width: 89.5%;
    display: block;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out; }
    @media only screen and (min-width: 63.5em) {
      .form__input {
        width: 90.5%; } }
    .form__input:focus {
      outline: none; }
    .form__input::placeholder {
      color: hsla(0,0%,100%, .5);
      letter-spacing: -0.22px; }
  .form__label {
    color: hsla(0,0%,100%, .5);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.6rem;
    letter-spacing: 0.1rem;
    display: block;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4.4rem); }
  .form__small {
    color: hsl(7,100%,68%);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    position: absolute;
    right: 0;
    bottom: 1.1rem;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out; }
    .form__small::before {
      content: "!";
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      font-size: 1.5rem;
      border-radius: 50%;
      outline: 1px solid currentColor;
      right: 1px;
      top: -4.5rem;
      /* transform: translate(-50%, -50%); */
      display: flex;
      align-items: center;
      justify-content: center; }
